<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MasterSuite">
  <test thread-count="5" name="LoginTest">
    <classes>
      <class name="login.TC_existinguser_03"/>
    </classes>
  </test> <!-- LoginTest -->
</suite> <!-- MasterSuite -->
